/* begin Box, Sheet */
.idt-Sheet-tl
{
	clip: rect(auto 35px 35px auto);
}

.idt-Sheet-tr
{
	clip: rect(auto auto 35px 35px);
}

.idt-Sheet-bl
{
	clip: rect(35px 35px auto auto);
}

.idt-Sheet-br
{
	clip: rect(35px auto auto 35px);
}

.idt-Sheet-tc
{
	clip: rect(auto auto 35px auto);
}

.idt-Sheet-bc
{
	clip: rect(35px auto auto auto);
}

.idt-Sheet-cr
{
	clip: rect(auto auto auto 35px);
}

.idt-Sheet-cl
{
	clip: rect(auto 35px auto auto);
}
/* end Box, Sheet */

/* begin Menu */
.idt-nav .r
{	clip: rect(auto auto auto 990px);
}
/* end Menu */

/* begin MenuItem */
.idt-menu a .r
{
	clip: rect(auto auto auto 400px);
}
/* end MenuItem */

/* begin BlockHeader */
.idt-BlockHeader .r
{
	clip: rect(auto auto auto 985px);
}
/* end BlockHeader */

/* begin Box, BlockContent */
.idt-BlockContent-tl
{
	clip: rect(auto 5px 5px auto);
}

.idt-BlockContent-tr
{
	clip: rect(auto auto 5px 5px);
}

.idt-BlockContent-bl
{
	clip: rect(5px 5px auto auto);
}

.idt-BlockContent-br
{
	clip: rect(5px auto auto 5px);
}

.idt-BlockContent-tc
{
	clip: rect(auto auto 5px auto);
}

.idt-BlockContent-bc
{
	clip: rect(5px auto auto auto);
}

.idt-BlockContent-cr
{
	clip: rect(auto auto auto 5px);
}

.idt-BlockContent-cl
{
	clip: rect(auto 5px auto auto);
}
/* end Box, BlockContent */

/* begin PostContent */
.idt-PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.idt-button-wrapper .r
{
	clip: rect(auto auto auto 401px);
}
/* end Button */

